
header {
    background-color: #333; 
    color: white; 
    padding: 1rem 2rem; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}




header ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
    gap: 1.5rem; 
}

header a {
    color: white; 
    text-decoration: none; /* Elimina el subrayado */
    font-size: 1rem;
}

header a:hover {
    color: rgb(150, 182, 197);
}

/* Si quieres que los íconos tengan un tamaño diferente */
header a.nav:last-of-type,
header a.nav:nth-last-of-type(2) {
    font-size: 1.2rem;
}